@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;500;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lexend Deca', sans-serif;
}

/*remove scroll*/
html,
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    50deg,
    #00ca14fb,
    #07a016,
    #009d10,
    #07a016,
    #00ca14fb
  );

  position: relative;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

section.content{
  position: fixed;
  top: 100px;
}

section.content-result {
  display: none;
  width: 500px;
  height: 450px;
  background-color: beige;
  position: relative;

  border-radius: 12px;
  box-shadow: 0px 2px 3px #035a0cfb;
  margin-bottom: 3rem;
}

/*span de erro*/
a{
  position: fixed;
  bottom: 80px;
  height: 15rem;
  display: none;
  justify-content: center;
  align-items: center;
}

span{
  width: 400px;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.05rem;
  background: rgba(255, 255, 255, 0.199);
  color: #005709;
  border-radius: 8px;
  box-shadow: 0px 2px 2.5px #00680afb;
}

/*mostrar*/
a.showSpan{
  display: flex;
}

/*esconder imagem no index*/
.locationIndex.hideImage{
  display: none;
}

/*formatação elementos da section content*/
h2 {
  color: rgba(255, 255, 255, 0.97);
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  letter-spacing: -1px;
  line-height: 125px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;

  display: flex;
  align-items: center;

  /*animação line, overflow and space configurations*/
  border-right: 2px solid rgba(255, 255, 255, 0.97);
  white-space: nowrap;
  overflow: hidden;
}

h3 {
  display: none;
  color: rgba(255, 255, 255, 0.97);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  margin-top: 80px;
  z-index: 9000;
}

h3.showLoading {
  display: flex;
  position: absolute;
  top: 200px;
  border-right: 2px solid rgba(255, 255, 255, 0.97);
  white-space: nowrap;
  overflow: hidden;
}

.showLoading {
  animation: typingT 2s steps(20) 1 normal both;
}

#title {
  animation: blinkCursor 400ms steps(40) infinite normal,
    typing 8s steps(40) 1s 1 normal both;
}

#cep {
  width: 609.06px;
  background: rgba(255, 255, 255, 0.247);
  border: 1.5px solid #006e0b62;
  box-sizing: border-box;
  box-shadow: 0px 2px 2.5px #00680afb;
  color: #005709;
  font-size: 1.1rem;

  padding: 0.7rem;
  border-radius: 10px;
}

#cep:hover {
  border: 1.5px solid #005f0a;
}

input#cep::placeholder {
  color: rgba(0, 98, 10, 0.932);
  font-weight: 300;
  font-size: 15px;
}

input:focus {
  outline: 0;
}

input:invalid {
  animation: shake 300ms;
}

.submit {
  background: rgba(255, 255, 255, 0.863);
  border-radius: 7px;
  padding: 0.6rem;
  margin-top: 1.8rem;
  z-index: 5000;
  border: 1.5px solid #006e0b62;
  box-shadow: 0px 2px 2.5px #00680afb;
  color: #005709;
  font-size: 1rem;
  width: 150px;
}

.submit:hover {
  border: 1.8px solid #005f0a;
  background: rgba(255, 255, 255, 0.247);
  cursor: pointer;
}
/*formatação de imagens section content*/

.locationIndex {
  height: 244px;
  display: block;
  z-index: 10000;

  animation: upImage 2.5s 2s ease-in-out infinite alternate;
  position: absolute;
  bottom: 40px;
}

.locationIndex.showLoading{
  position: absolute;
  top: 290px;
}

#logoJaque {
  width: 100px;
  height: 50px;
}

/*formatação elementos da section content-result*/

#content {
  margin-top: 170px;
}

#newSeach {
  background: #00910eea;
  border-radius: 7px;
  padding: 0.6rem;
  margin-top: 0.8rem;
  z-index: 6000;
  border: 1.9px solid #006e0b62;
  box-shadow: 0px 2px 2px #00680afb;
  color: #ffffff;
  font-size: 1rem;
  width: 150px;
}

#newSeach:hover {
  background: #009d1000;
  color: #00680afb;
  cursor: pointer;
}

h1 {
  color: #00680afb;
}

p#value {
  color: #00680afb;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 12.5pt;
}

/*formatação de imagens section content-result*/

.locationIndex.displayImage {
  height: 244px;
  animation: upImage 2.5s 2s ease-in-out infinite alternate;

  position: absolute;
  margin-top: 110px;
  top: 0;
}

/*formatação das divs circles*/

.circles {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.35);
  position: absolute;
  width: 350px;
  height: 350px;

  border: 0.5px solid rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  box-shadow: 3px 3px 9px rgba(0, 98, 10, 0.37);
}

#circleOne {
  left: -130px;
  bottom: -110px;
  background: rgba(196, 196, 196, 0.075);

  animation: circleOne 4s 1.5s ease-in-out infinite alternate;
}

#circleTwo {
  right: -150px;
  top: -150px;
  background: rgba(196, 196, 196, 0.13);

  animation: circleTwo 4s 1.5s ease-in-out infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 34.31rem;
  }
}

@keyframes typingT {
  from {
    width: 0;
  }
  to {
    width: 17.8rem;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.97);
  }
  to {
    border-right-color: #009d10;
  }
}

@keyframes circleOne {
  to {
    transform: translate3d(40px, -70px, -20px);
  }
}

@keyframes circleTwo {
  to {
    transform: translate3d(-30px, 80px, 30px);
  }
}

@keyframes upImage {
  from {
    transform: translate3d();
  }
  to {
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

/*mostrar e esconder sections*/
section.content.none {
  display: none;
}

section.content-result.display {
  display: flex;
  justify-content: center;
  align-items: center;
}
